@model Tinder4Jobs.Web.ViewModels.LinkedinJob

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Job Detail</h4>
</div>

<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DescriptionSnippet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionSnippet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationDescription)
        </dd>

    </dl>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
