@{
    ViewBag.Title = "Profile";
}
<h2>Felipe Cembranelli.</h2>
<h3>Systems Architect</h3>

<address>
    <strong>Url:</strong>   <a href="#">linkedin.com/felipecembranelli</a><br />
    <strong>Email:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>